body{
   
    /* background: radial-gradient(circle, rgba(238,174,202,1) 2%, rgba(15,125,254,1) 100%); */
    /* background: radial-gradient(circle, #0F2027 , #203A43, #2C5364); */
    /* background: linear-gradient(to right, #a8c0ff, #3f2b96); */
    background: linear-gradient(to right, #373b44, #4286f4);
    
}
.card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    float: left;
    box-sizing: border-box;
    background-color: white;
    
}

.titulo{
    font-family: 'Bungee Spice', sans-serif;
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.conteudo{
    font-family: 'Tektur', sans-serif;
}