body{  background: linear-gradient(to right, #5de0e6,#004aad);
        text-align: center;
    /* align-items: center; */
}

.botao-comecar{
    margin-top: 50px;
}

a{
    padding: 20px;
    background-color: pink;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    margin-top: 70px;
}

.img1 img{
    width: 200px; 
     
}
.img2 img{
    width: 300px;

}
.titulo strong {

    color: black;
    display: block;
    
}

h1{

    display: inline-block;
    padding: 40px;
    background-color: #0097A7; /* Substitua pela cor desejada */
    color: #fff; /* Cor do texto */
}
.titulo  {     
    color: #ffff;
}


